{% extends "base.html" %}

{% block title %}Prereviewer{% endblock %}



{% block content %}
  <ul id="nav-mobile" class="side-nav fixed right">
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
        <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
      </li>
    </ul>    
  </ul>


  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br><br>
      <h1 class="header center teal-text lighten-2">Prereviewer</h1>
      <div class="row center">
        <h5 class="header col s12 light">Draw insight from PDF documents</h5>
      </div>

    </div>
  </div>


  <div class="container">

    <div class="row">
      <form class="col s5">
        <label>Select a file for upload</label>
        <div class="file-field input-field">
          <div class="btn">
             <span>Browse</span>
             <input type="file">
          </div>
          <div class="file-path-wrapper">
             <input class="file-path validate" type="text" placeholder="Upload file">
          </div>
        </div>
      </form>

      <div class="col s2">
        <div class="valign-wrapper">
          <h5 class="left-align">OR</h5>
        </div>
      </div>

      <form class="col s5">
        <label>Paste a URL of a PDF</label>
        <div class="file-field input-field">
          <div class="btn">
             <span>Paste</span>
          </div>
          <div class="file-path-wrapper">
            <input type="text" class="validate">
          </div>
        </div>
      </form>
    </div>

    <br/><br/><br/><br/><br/><br/><br/><br/>

  </div>

{% endblock %}
