<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>{% block title %}{% endblock %}</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link href="{{ url_for('static', filename='css/materialize.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>
  <link href="{{ url_for('static', filename='css/style.css') }}" type="text/css" rel="stylesheet" media="screen,projection"/>

  <!-- RequireJS for PDF.js -->
  <script src="{{ url_for('static', filename='requirejs/require.js') }}"></script>
</head>

<body>
  <meta id="my-data" data="{{data}}">
  <main>

    <ul id="nav-mobile" class="side-nav fixed right">
      
      <form class="col s5" action="{{ url_for('summary') }}" method="POST">
        <input type="hidden" name="url" value="{{ url }}">
        <a id="file-submit" class="waves-effect waves-light btn float-right">
          <!--<div class="modal-trigger" href="#upload-modal">-->
            <input type="submit" value="Submit">
          <!--</div>-->
        </a>
      </form>

      <ul class="collapsible" data-collapsible="accordion">
      </ul>   
    </ul>
    <div class="container">
      <div class="row">
        <div class="col s9 offset-s3"> 
        <!-- <div class="col s5 offset-s5" id="trains">
          <div class="btn trains"></div>

        </div> -->
          <!--<iframe src="static/web/viewer.html?file={{ url }}#search=Protocol" height="500px" width="800px"></iframe>-->
          <iframe src="{{ url }}" width="100%" height="1000px"></iframe>
          
        </div>
      </div>
    </div>


  </main>
  <footer class="page-footer teal">
  <div class="container">
    <div class="row">
      <div class="col s9 offset-s2">
        <h5 class="white-text">Prereviewer</h5>
        <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>

      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      <div class="row">
      <div class="col s9 offset-s2">
        Made by <a class="orange-text text-lighten-3" href="http://materializecss.com">Group Two</a>
      </div>
    </div>
  </div>
</footer>
</body>
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{{ url_for('static', filename='js/materialize.js') }}"></script>
<script src="{{ url_for('static', filename='js/pdf.js') }}"></script>
<script src="{{ url_for('static', filename='js/concepts.js') }}"></script>
<script src="{{ url_for('static', filename='js/learn.js') }}"></script>
</html>